.conteiner {
    background-color: #fff;
    padding: 10px;
    align-items: center;
  }
  
  .opcion {
    width: 50px;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 4px;
  }
  
  .card {
    height: auto;
    text-align: center;
    align-items: center;
    border: 0;
    padding-bottom: 20px;   
  }
  
  .card-image {
    height: 250px;
    object-fit: cover;
  }
  
  
  
  
  
  
 
 
  
  