@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&family=Mooli&display=swap');

* {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #5f0019;
}

#footer{
    border-top: 1px solid #fff;;
}

#noticiasRedesContacto, #menuFooter, #dataFiscal {
    color: #5f0019;
    background-color: #e2e2e2;
}

#copyright {
    color: #fff;
    background-color: #535050;
}

.muestraEnLineaContacto {
    /* background-color: aquamarine; */
    display: inline-block;
    /* align-items: center; */
    padding: 0 4rem;
    border-left: 1px solid rgba(95, 0, 25, .4);
    height: 100px;
}

.muestraEnLineaNoticias {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    margin-left: 19rem;
    align-items: center;
    padding: 0 2rem;
    height: 100px;
}

#botonEnviar {
    color: #fff;
    background-color: #5f0019;
    height: 2.5rem;
}

#botonEnviar:hover {
    transition: all 1s;
    background-color: #fff;
    color:#5f0019;
    border-bottom: #5f0019;
}

input {
    background-color: #fff;
    color: #5f0019;
    height: 2.5rem;
}

#margenesContacto {
    padding: 0 2rem;
}

#menu {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15rem;
    margin-left: 10rem;
}

#menu li {
    margin: .5rem;
    list-style: none;
}

#menu a {
    color: #5f0019;
    text-decoration: none;
}

#menu > li > a:hover {
    color: #5f001975;
}
#dataFiscal {
    margin-top: -20px;

}

#dataFiscal img {
    width: 3rem;
}

footer{
    text-align: center;
}

#imagenCard {
    width: 44px;
    margin-right: 10px;
}

#imgFace {
    width: 24px;
    margin-right: 10px;
}

/* 
#pie {
    display: flex;
    margin: .3rem;
    padding: 0;
    margin: 0;
}

#logoFooter {
    width: 15%;
    margin: 0;
}

#menuPie {
    display: flex;
    margin: auto;
    padding: 1rem 5rem;
}

#menuPie > li {
    margin: 0rem 2rem;
    list-style: none;
}

#menuPie > li > a {
    text-decoration: none;
    color: black;
}

#contact {
    /* background-color: rgb(120, 219, 219); */
    /* margin: auto;
    margin-right: 10px;
} */

/* #contact>a {
    text-decoration: none;
    color: black;
} */

/* #menuPie, #contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px; */ 
/* ======= */


/* * {
    color: #5f0019;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
} */

/* .tarjeta {
    display:inline-block;
    align-items: center;
    padding: 0 2rem;
    border-left: 1px solid rgba(95, 0, 25, .4);
    height: 100px; */
    
    
    /* background-color: aqua; */
        
/* } */

/* .imagenes {
    display: inline-block;
    width: 2rem;
} */


/* .tituloUno {
    font-family: sans-serif;
    font-weight: 600; */
/* >>>>>>> Stashed changes */
/* } */