.top-bar {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .flex-start {
    grid-column: 1/3;
    justify-content: flex-start;
  }
  
  .justify-center {
    grid-column: 2/3;
    justify-content: center;
  }
  
  .space-between {
    grid-column: 3/3;
    justify-content: flex-end;
  }
  .header-container a {
    color: black;
    outline: none;
    text-decoration: none;
    background-color: transparent;
  }
  .carrito {
    display: flex;
  }
  
  .carrito-item-cont {
    flex-shrink: 0;
    position: relative;
  }
  
  .logo img {
    height:100px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }

  .carrito-item-cont img {
    height:50px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
  }
  
  .cont {
    position: absolute;
    color: black;
    top: 6px;
    right: -8px;
    border-radius: 100px;
    width: 18px;
    height: 18px;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #b8a982;
  }
  