.conteiner {
  background-color: #fff;
  padding: 10px;
  align-items: center;
}

.opcion {
  width: 50px;
  color: black;
  text-align: left;
  font-weight: bold;
  padding: 4px;
}

.card {
  height: auto;
  background-color: #fff;
  text-align: center;
  align-items: center;
  border: 0;
  padding-bottom: 20px;   
}

.card-image {
  height: 200px;
  object-fit: cover;
}

.card-data {
  list-style: none;
  color: white;
  font-size: 1rem;
  padding: 0;
}

.card-data-titulo {
  color: rgb(90, 93, 98);
  font-size: 18px;
}

.card-data-precio {
  color: rgb(160, 168, 116);
  font-size: 20px;
  
}

figcaption ul li {
  margin-bottom: 5px;
}

.card-button-compra {
  background-color: rgb(115, 115, 119);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 8px;
  height: 32px;
}

.card-button-compra:hover {
  background-color: white;
  color: blue;
}
